<section class="banner">
  <section class="banner-left">
    <ul class="list-option">
      <li class="option-item">pizza</li>
      <li class="option-item">hamburger</li>
      <li class="option-item">mi</li>
      <li class="option-item">nuoc</li>
      <li class="option-item">ga</li>
      <li class="option-item">rau cu</li>
      <li class="option-item">template</li>
      <li class="option-item">temlate</li>
    </ul>
    <div>
      <button>Shop</button>
    </div>
  </section>
  <section class="banner-right">
    <div class="banner-slider">
      <ul class="slider__list">
        <li class="slider-item" id="1"></li>
      </ul>
      <div class="buttons">
        <button id="right">></button>
        <button id="left"><</button>
      </div>
    </div>
  </section>
</section>
