<section class="banner">
  <section class="banner-left">
    <ul class="list-option">
      <li class="option-item">
        <div class="item-icon">
          <img src="../image/logo/Pizza-icon.png" alt="pizza" />
        </div>
        <h4 class="item-title">Pizza</h4>
      </li>
      <li class="option-item">
        <div class="item-icon">
          <img src="../image/logo/hamburger.png" alt="hamburger" />
        </div>
        <h4 class="item-title">Hamburger</h4>
      </li>
      <li class="option-item">
        <div class="item-icon">
          <img src="../image/logo/noodle.png" alt="noodle" />
        </div>
        <h4 class="item-title">mì</h4>
      </li>
      <li class="option-item">
        <div class="item-icon">
          <img src="../image/logo/coca.png" alt="coca" />
        </div>
        <h4 class="item-title">nước ngọt</h4>
      </li>
      <li class="option-item">
        <div class="item-icon">
          <img src="../image/logo/barbecue.png" alt="barbecue" />
        </div>
        <h4 class="item-title">thịt và đồ nướng</h4>
      </li>
      <li class="option-item">
        <div class="item-icon">
          <img src="../image/logo/hotpot.png" alt="hotpot" />
        </div>
        <h4 class="item-title">thức ăn khác</h4>
      </li>
    </ul>
    <div class="banner-left__button">
      <button>
        Thêm nhiều món ăn hơn
        <img src="../image/logo/shop_stote.png" alt="shop" />
      </button>
    </div>
    <div class="banner-left__bottom">
      <img src="../image/logo/free_ship.jpg" alt="free_ship" />
    </div>
  </section>
  <section class="banner-right">
    <div class="banner-slider">
      <ul class="slider__list">
        <li class="slider-item" id="1">
          <img src="../image/banner/piza.png" alt="" />
        </li>
      </ul>
      <ul class="dots">
        <li class="dot active">.</li>
        <li class="dot">.</li>
        <li class="dot">.</li>
        <li class="dot">.</li>
        <li class="dot">.</li>
      </ul>
      <div class="buttons">
        <button id="left"><</button>
        <button id="right">></button>
      </div>
    </div>
  </section>
</section>
