<header class="header">
  <section class="header-top">
    <h4 class="header-top__title-left">ShopFoodie.com</h4>
    <div class="header-top-right">
      <h4 class="header-top__title-right-1">&copy; ground 17</h4>
      <div class="header-top__title-right-2">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-tiktok"></i>
      </div>
    </div>
  </section>
  <section class="header-bottom">
    <div class="logo">
      <div class="logo-img">
        <img src="../image/logo/logo-header.png" alt="" />
      </div>
      <div class="logo-title">
        <h2><span>Shop</span> foodie</h2>
      </div>
    </div>
    <nav class="header__navigation">
      <ul class="nav__list">
        <li class="nav__list-item active">Home</li>
        <li class="nav__list-item">Shop</li>
        <li class="nav__list-item">Blog</li>
        <li class="nav__list-item">Contact</li>
      </ul>
    </nav>
    <div class="header__buttons">
      <button class="button-ship">
        <div class="ship-icon">
          <img src="../image/logo/image 2 (1).png" alt="" />
        </div>
        <h4 class="ship-title">ship</h4>
      </button>
      <button class="button-cart">
        <div class="icon-cart">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <h4 class="cart-title">cart</h4>
      </button>
      <button class="button-login">
        Log in
        <i class="fa-solid fa-right-to-bracket"></i>
      </button>
      <button class="button-logout">
        Log out
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </button>
    </div>
  </section>
</header>
